body {
  /*width: 100%;
  height: 100%;
  background-color: black;
  color: red;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  text-align: center;
  border:none;*/
  color:white;
  background-color: white;
  margin: 0;
  overflow: hidden;
  top:0;
  left:0;
  right:0;
  bottom:0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

*:-webkit-full-screen {
  position:absolute;
  top:0; 
  right:0; 
  bottom:0; 
  left:0;
  margin:0;
  z-index: 99999998 !important;
  box-sizing:border-box;
  width:100%;
  height:100%;
  object-fit:contain;
}

#transition {
  position:relative;
  width:100vw;
  height:100vh;
  background:black;
  color:white;
  z-index:99999999;
}

#framer{
  border:none;
  overflow:hidden;
  position: absolute;
  z-index:0;
  margin: 0;
  overflow: hidden;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.logo {    
  position: absolute;
  top: 10px;
  left: 15px;      
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width:5px;
  height:5px;
}   

.Absolute-Center-Big {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding-top: 15px;
  width:20px;
  height:20px;
}

.Absolute-Center-Loader {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding-top: 15px;
  width:20px;
  height:20px;
  opacity: 0;
}  

/* Pattern styles */
#loader {
  display: table;
  width: 100%;
  z-index: 1;
}

#crosshair {
  display: none;
  z-index: 2147483647;
}


.left-half {
  background-color: transparent;
  position: absolute;
  left: 0px;
  width: 52%; 
  height: 100%;
}

.right-half {
  background-color: transparent;
  position: absolute;
  right: 0px;
  width: 52%;
  height: 100%;
}

.left-halfLoader {
  background-color: transparent;
  position: absolute;
  left: -20px;
  margin-top: -8px;
  width: 52%;
  height: 100%;
}

.right-halfLoader {
  background-color: transparent;
  position: absolute;
  right: 20px;
  margin-top: -8px;
  width: 52%;
  height: 100%;
}
